# ==========================================
# Django Specific Rules
# ==========================================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# ==========================================
# Python & Byte-compiled files
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ==========================================
# Virtual Environments (Crucial for Django)
# ==========================================
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# ==========================================
# Testing and Coverage
# ==========================================
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# ==========================================
# Windows OS Specific Files
# ==========================================
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.lnk
*.cab
*.msi
*.msm
*.msp
*.lnk

# ==========================================
# Code Editors (VS Code / PyCharm / Eclipse)
# ==========================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# self
audit/